.App {
    text-align: center;
}

.control-button {
    margin: 0 5px;
    width: 100%;
    background-color: transparent;
    border: 1px solid #24292e;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;

    &--mobile-only {
        display: block;
        @media (min-width: 576px) {
            display: none;
        }
    }

    &--desktop-only {
        display: none;
        @media (min-width: 576px) {
            display: block;
        }
    }
}
